.boutique-page {
  height: 100%;
  position: relative;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'categories header'
    'categories images';

  &__page-header {
    margin-bottom: 0.5rem !important;
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    @include media-breakpoint-down(sm) {
      grid-column: 2 / 3;
    }
  }

  &__categories-list {
    grid-area: categories;
  }

  &__images {
    z-index: -1;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      grid-column: 2 / 3;
    }
  }

  &__image {
    display: none;
    margin: auto;

    &.active {
      display: block;
      height: 100%;
    }
  }
}