.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__image {
    width: 270px;
    height: 270px;
    border-radius: 50%;
  }

  &__mail {
    text-decoration: none;
    color: $color-black;
    font-size: 1.5rem;
    font-weight: 500;

    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
    }
  }

  .social-links {
    padding: 0;
    gap: 0.75rem;
  }

  .btn-social {
    width: 30px;
    height: 30px;
    background-color: $color-gray;
  }
}