.events {
  margin-bottom: 2rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 1rem;
    text-transform: unset;
    font-style: italic;
    text-align: left;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__date {
    width: 30px;
    flex-shrink: 0;
    margin-top: 6px;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 300;
    color: $color-gray;
  }

  &__item {
    display: flex;
  }

  &__entries {
    list-style: none;
  }

  &__entry {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.75rem;

    &::before {
      content: '';
      position: absolute;
      left: -16px;
      top: 11px;
      display: block;
      width: 6px;
      height: 6px;
      background-color: $color-black;
      border-radius: 6px;
    }
  }
}