.form-buy {
  display: grid;
  gap: 0.5rem;
  align-items: baseline;
  grid-template-columns: auto auto 1fr;

  &__label {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .btn-buy {
    align-self: stretch;
    font-weight: 700;
    font-size: 0.875rem;
  }
}