.lang-select {
  background-image: url(/src/images/select-arrow.svg);
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    border: none;
    outline: none;
    border-radius: 0;
  }

  &::after {
    display: none;
  }

  &__dropdown-toggle {
    color: $color-white;
    background-color: $color-secondary;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    padding: 8px;
    width: 50px;
    height: 32px;

    &.show {
      background-color: $color-secondary !important;
    }
  }

  &__dropdown-menu {
    min-width: unset !important;
    border-radius: 0;
    background-color: $color-secondary;
    box-shadow: $shadow;

    &.show {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  &__btn-lang {
    display: flex;
    gap: 0.25rem;
    align-items: baseline;
    line-height: 1;
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
  }
}
