.modal {
  &__cart-wrapper {
    margin: auto;
    max-width: 580px;
    padding: 2.5rem;
    background-color: $color-white;
    box-shadow: $shadow;
    pointer-events: auto; // mandatory for correct work of bs modal

    @include media-breakpoint-down(md) {
      padding: 1.5rem 0.75rem;
    }
  }
}