.page-menu {
  padding: 0 0 8px;
  margin: -1.5rem 0 3rem;
  display: flex;
  justify-content: center;
  list-style: none;

  @include media-breakpoint-down(lg) {
    margin: -1rem 0 1rem;
  }

  @include media-breakpoint-down(md) {
    margin: -0.5rem 0 1rem;
  }

  &__item {
    padding: 0 1rem;

    @include media-breakpoint-down(md) {
      padding: 0 0.5rem;
    }
  }

  &__link {
    display: block;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
    color: $color-black;
    font-weight: 400;

    &:hover {
      color: $color-black;
    }

    &.active {
      pointer-events: none;

      &::after,
      &::before {
        width: 50%;
      }
    }

    @include hover-underline(-8px, -8px, -8px);
    @include media-breakpoint-down(md) {
      font-size: 0.75rem;
    }
  }
}