.product-title {
  margin-bottom: 1.5rem;
  &__fullname {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  &__name {
    padding: 4px 8px;
    font-size: 0.75rem;
    font-weight: 700;
    color: $color-white;
    background-color: $color-secondary;
  }

  &__collection {
    font-weight: 700;
    text-align: center;
  }
}