.specification {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  line-height: 1;
  align-items: baseline;

  &__item {
    display: contents;
  }

  &__param {
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      font-size: 0.875rem;
    }
  }

  &__price {
    font-size: 2rem;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
}