.swiper {
  width: 100%;
  user-select: none;
}

.swiper-slide {
  width: auto;
  min-width: 50px; // fix when slider select not first slide as active
  transition: opacity .3s ease-out;

  img {
    max-height: 100%;
    width: auto;
  }
}

.swiper-scrollbar {
  position: static !important;
  margin-top: 1rem;
  background-color: unset;
}

.swiper-scrollbar-drag {
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: $color-social-link;
}