.verification {
  flex-grow: 1;
  max-width: 500px;
  margin: auto;
  text-align: center;
  background-image: url(/src/images/pages/verification/verification-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  &__text {
    margin: 0 auto 2rem;
    max-width: 350px;
    color: $color-gray-2;
    font-size: 1.5rem;
  }

  &__input {
    display: block;
    margin: 0 auto 2.5rem;
    width: 270px;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    border: none;
    background: none;
    border-bottom: 1px solid $color-gray;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    font-weight: 300;
    font-size: 1.25rem;
    padding: 1.25rem 3.5rem;
  }
}
