.video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.5rem;

  @include media-breakpoint-down(lg) {
    margin-bottom: 1.5rem;
  }

  &__image {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      margin-bottom: 0.75rem;
    }

    &:hover {
      .icon-play {
        opacity: 1;
      }

      img {
        transform: scale(1.07);
        filter: grayscale(100%);
      }
    }

    img {
      width: 100%;
      transition: all 0.35s ease-in-out;
    }
  }

  &__title {
    text-decoration: none;
    margin-bottom: 0.5rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0.25rem;
    }

    h2 {
      display: inline-block;
      text-align: left;
      text-transform: none;
      font-size: 1.5rem;
      font-weight: normal;
      margin: 0;

      @include media-breakpoint-down(lg) {
        font-size: 1.25rem;
      }
    }
  }

  &__date {
    color: $color-gray;
  }

  .icon-play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;

    @include media-breakpoint-down(lg) {
      height: 24px;
    }
  }
}