// FONTS

$font-family-base: 'Geometria', sans-serif;

// COLORS

$color-white: #ffffff;
$color-gray: #808080;
$color-gray-2: #979797;
$color-gray-3: #e0e0e0;
$color-gray-4: #F2F2F2;
$color-black: #000000;

$color-play-bg: #B5B5B5;
$color-play-toggler: #979797;

$color-body-bg: #F7F7F7;
$color-heading: #000000;
$color-attention: #ff0000;

$color-primary: #EADADB;
$color-primary-hover: #f5d8da;
$color-secondary: #4B4B4B;
$color-secondary-hover: #3f3939;

$color-link: #C13487;
$color-link-hover: #df158b;
$color-link-visited: #950659;
$color-selection: #666666;
$color-selection-bg: #e9e8e4;
$color-menu-link: #4B4B4B;
$color-menu-link-hover: #000000;
$color-social-link: #DBD8D1;

$color-status-ok: #6FCF97;
$color-status-out: #dda789;

// SHADOWS

$shadow: 0px 32px 64px -24px rgba(0, 0, 0, 0.6);

// FONT-SIZES

$fs-h1-desktop: 2rem;
$fs-h2-desktop: 1.75rem;
$fs-h3-desktop: 1.5rem;
$fs-h1-mobile: 1.125rem;
$fs-h2-mobile: 1rem;
$fs-h3-mobile: 0.875rem;
$fs-text: 0.875rem;
$fs-text-line-height: 1.75rem;

// PADDINGS

$pd-container-adapt-md: 2.5rem;
$pd-container-adapt-sm: 1rem;