block variables

doctype html
html(lang="en")
  head
    include /src/pug/layout/head
    title #{pageTitle}
  body
    include /src/pug/layout/header
    block content
    block footer
      include /src/pug/layout/footer
