form#form-language(action='{{ action }}' method='post' enctype='multipart/form-data')
  .dropdown.lang-select
    button.btn.btn-secondary.dropdown-toggle.lang-select__dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false') En
    ul.dropdown-menu.lang-select__dropdown-menu
      li
        button.btn.btn-secondary.lang-select__btn-lang.language-select(type='button' name='{{ language.code }}') English
      li
        button.btn.btn-secondary.lang-select__btn-lang.language-select(type='button' name='{{ language.code }}') Russian
