.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $color-gray;

  &__line {
    margin: 0 2rem;
  }

  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }

  &__menu-link {
    color: inherit;
    font-size: 0.75rem;
  }

  &__copyright {
    color: inherit;
    text-align: center;
    font-size: 0.75rem;
  }
}