.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);

  &--screen-height {
    height: calc(100vh - 60px);
    min-height: 640px;
  }

  &__content {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      padding-top: 2rem;
    }
  }
}