|
|
// FOOTER

footer.footer.container-fluid
  hr.footer__line
  ul.footer__menu
    li
      a.footer__menu-link(href='/terms.html') Terms and Conditions
    li
      a.footer__menu-link(href='/policy.html') Privacy Policy
  .footer__copyright
    | &copy; 2023. All images and films on this site belong to Popovy Sisters. All work is protected by copyright.
