@import 'abstract/variables';
@import 'abstract/mixins';

// I don't import whole bootstrap cause of slow compiling
// So I import only necessary parts to use them in my scss files
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import 'base/animations';
@import "base/bootstrap-redefine.scss"; // Re-define some parts of BS which loaded directly in template
@import "base/magnific-redefine.scss"; // Re-define some parts of Magnigic-popup
@import 'base/globals';
@import 'base/typography';

@import 'layout/header';
@import 'layout/mobile-header';
@import 'layout/page';
@import 'layout/footer';

@import 'components/buttons';
@import 'components/boutique';
@import 'components/biography';
@import 'components/cart';
@import 'components/categories-list';
@import 'components/contacts';
@import 'components/events';
@import 'components/event-figure';
@import 'components/form-buy';
@import 'components/gallery';
@import 'components/gallery-list';
@import 'components/icons';
@import 'components/input-qty';
@import 'components/lang-select';
@import 'components/modal';
@import 'components/mobile-menu';
@import 'components/main-banner';
@import 'components/player';
@import 'components/page-header';
@import 'components/page-menu';
@import 'components/pagination';
@import 'components/product-status';
@import 'components/product-title';
@import 'components/swiper';
@import 'components/specification';
@import 'components/sisters-logo';
@import 'components/social-links';
@import 'components/video';
@import 'components/verification';

@import 'pages/home-page';
@import 'pages/login-page';
@import 'pages/category-page';
@import 'pages/product-page';
@import 'pages/checkout';
@import 'pages/about-us';
